<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">

<div class="container mt-5">
  <h1 class="mb-4">Import New Service</h1>

  <form th:action="@{/services}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Service Name</label>
      <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div id="skills-container"></div>
    <button type="button" class="btn btn-secondary mb-3" onclick="addSkillField()">Add Skill</button>
    <button type="submit" class="btn btn-success">Save</button>
    <a th:href="@{/services}" class="btn btn-secondary">Cancel</a>
  </form>


</div>

</div>
</body>
</html>
