<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">

<div class="container mt-5">
  <h1 class="mb-4">Import New Service</h1>
  <form th:action="@{/services/import}" th:object="${file}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="formFile" class="form-label">Choose a file to import</label>
      <input class="form-control" type="file" id="formFile" name="file" />
    </div>
    <button type="submit" class="btn btn-primary">Import</button>
  </form>


</div>

</div>
</body>
</html>
