<!DOCTYPE html>
<html>
<head></head>
<body>
<div th:fragment="sidebar">
<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">ES Appointments</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Home</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Request Appointment</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/registerResource">Register Resource</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Calendar</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Manage ES</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Manage Skills</a>
  </div>
</div>
</div>
</body>
</html>