<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="container mt-5">
        <h1 class="mb-4">Request Appointment</h1>
        <form th:action="@{/requestAppointment}" th:object="${appointment}" method="post">

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Enter your description" required>
            </div>

            <label>
                <input type="checkbox" name="showDates"
                       onClick="showMe('sDate')">Choose earliest dates available</label>

            <div class="mb-3" id="sDate" style="display:none">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" th:field="*{startDate}" required>
            </div>

            <div class="mb-3" style="display:none">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
            </div>

            <div class="mb-3">
                <label for="services" class="form-label">Essential Service</label>
                <select class="form-select" id="services" name="services" th:field="*{services}">
                    <option th:each="service : ${servicesList}" th:value="${service.Id}" th:text="${service.name}"></option>
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Request</button>
        </form>

        <div th:if="${message}" class="alert alert-success mt-3" th:text="${message}"></div>
    </div>

</div>
<script type="text/javascript">
function showMe (box) {

    var chboxs = document.getElementsByName("showDates");
    var vis = "none";
    for(var i=0;i<chboxs.length;i++) {
        if(chboxs[i].checked){
         vis = "block";
            break;
        }
    }
    document.getElementById(box).style.display = vis;
}
        </script>
</body>
</html>